# Database configuration
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# MinIO configuration
MINIO_URL=
MINIO_PORT=
MINIO_SSL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=

# App Config
APP_PORT=
APP_PREFIX=
SERVICE_SALTROUND=

# Auth Config
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=3d